<h1>Restaurants</h1>

<ul>
    {{#each restaurants as |restaurant|}}
    <li>
        <a href="/{{restaurant.id}}">{{restaurant.name}}</a>
    </li>
    {{/each}}
</ul>

<a href="/new">add a restaurant</a>